<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSClientePortBinding" />
                <binding name="WSEstadoCivilPortBinding" />
                <binding name="WSProductoPortBinding" />
                <binding name="WSSubTipoPortBinding" />
                <binding name="WSTipoPortBinding" />
                <binding name="WSVentasPortBinding" />
                <binding name="WSBoletaPortBinding" />
                <binding name="WSDetallePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WSAlimentos/WSCliente"
                binding="basicHttpBinding" bindingConfiguration="WSClientePortBinding"
                contract="SWCliente.WSCliente" name="WSClientePort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSEstadoCivil"
                binding="basicHttpBinding" bindingConfiguration="WSEstadoCivilPortBinding"
                contract="SWEstadoCivil.WSEstadoCivil" name="WSEstadoCivilPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSProducto"
                binding="basicHttpBinding" bindingConfiguration="WSProductoPortBinding"
                contract="SWProducto.WSProducto" name="WSProductoPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSSubTipo"
                binding="basicHttpBinding" bindingConfiguration="WSSubTipoPortBinding"
                contract="SWSubTipo.WSSubTipo" name="WSSubTipoPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSTipo"
                binding="basicHttpBinding" bindingConfiguration="WSTipoPortBinding"
                contract="SWTipo.WSTipo" name="WSTipoPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSVentas"
                binding="basicHttpBinding" bindingConfiguration="WSVentasPortBinding"
                contract="SWVenta.WSVentas" name="WSVentasPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSBoleta"
                binding="basicHttpBinding" bindingConfiguration="WSBoletaPortBinding"
                contract="SWBoletas.WSBoleta" name="WSBoletaPort" />
            <endpoint address="http://localhost:8080/WSAlimentos/WSDetalle"
                binding="basicHttpBinding" bindingConfiguration="WSDetallePortBinding"
                contract="SWDetalle.WSDetalle" name="WSDetallePort" />
        </client>
    </system.serviceModel>
</configuration>